@import url('./main-layout.css');
@import url('./views/hello-world-view.css');
@import url('./views/card-list-view.css');
@import url('./views/chat-view.css');
@import url('./views/gridwith-filters-view.css');
@import url('./views/collaborative-master-detail-view.css');
@import url('@fontsource/dosis/index.css');    html {
      --lumo-primary-color: hsl(214, 85%, 72%);
      --lumo-primary-color-50pct: hsla(214, 85%, 72%, 0.5);
      --lumo-primary-color-10pct: hsla(214, 85%, 72%, 0.1);
      --lumo-error-color: hsl(3, 89%, 40%);
      --lumo-error-color-50pct: hsla(3, 89%, 40%, 0.5);
      --lumo-error-color-10pct: hsla(3, 89%, 40%, 0.1);
      --lumo-success-color: hsl(145, 90%, 48%);
      --lumo-success-color-50pct: hsla(145, 90%, 48%, 0.5);
      --lumo-success-color-10pct: hsla(145, 90%, 48%, 0.1);
      --lumo-base-color: #fcfcfc;
--lumo-font-family: Dosis;

    }
